doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Nouvelle connexion à votre compte
  body
    table(align="center", border="0", cellpadding="0", cellspacing="0", width="600")
      tr
        td(align="center", bgcolor="#ffffff", style="padding: 40px 0 30px 0;")
          h1(style="color: #333333; font-size: 24px;") Nouvelle connexion à votre compte
      tr
        td(align="center", bgcolor="#ffffff", style="padding: 20px 0 30px 0;")
          p(style="color: #666666; font-size: 16px; line-height: 1.5;") Bonjour,
          p(style="color: #666666; font-size: 16px; line-height: 1.5;") Nous vous informons qu'une nouvelle connexion a été effectuée sur votre compte. Si vous n'avez pas effectué cette connexion, veuillez prendre des mesures immédiates pour sécuriser votre compte.
      tr
        td(align="center", bgcolor="#ffffff", style="padding: 20px 0 30px 0;")
          p(style="color: #666666; font-size: 16px; line-height: 1.5;") Date et heure de la connexion : #{date}
          p(style="color: #666666; font-size: 16px; line-height: 1.5;") Adresse IP de la connexion : #{ip}
          p(style="color: #666666; font-size: 16px; line-height: 1.5;") Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.
      tr
        td(align="center", bgcolor="#ffffff", style="padding: 20px 0 30px 0;")
          p(style="color: #666666; font-size: 16px; line-height: 1.5;") Cordialement,
          p(style="color: #666666; font-size: 16px; line-height: 1.5;") L'équipe de Ippo
